importFrom("magrittr", "%>%")
importFrom("rlang", ".data")
importFrom("tibble", "tibble")
importFrom("stats", "IQR", "median", "na.omit", "sd", "terms", "glm")

export("%>%",
       "divide",
       "depths_string",
       "depths",
       "fasten",
       "pick",
       "muddle",
       "stratiply",
       "dish",
       "absorb",
       "type_match",
       "typly",
       "descriptives",
       "univariate_associations",
       "univariate_table")